n8n-workflow.json
{
  "name": "PR_automation",
  "nodes": [
    {
      "parameters": {},
      "name": "Email/WhatsApp Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "your-webhook-id"
    },
    {
      "parameters": {
        "functionCode": "const data = JSON.parse(items[0].json.text);\nreturn [{ json: data }];"
      },
      "name": "Process Input",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://127.0.0.1:8001/generate-content",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{JSON.stringify({\"input_text\": $json.text})}}"
      },
      "name": "Generate PR Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "functionCode": "return items;"
      },
      "name": "Format Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {},
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.webhook-response",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Email/WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Process Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Input": {
      "main": [
        [
          {
            "node": "Generate PR Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate PR Content": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
